<h1>Edit Unemployment Rates</h1>
<table class="table">
    <thead>
        <tr>
            <th>Province</th>
            <th>Year</th>
            <th>Illiterate</th>
            <th>First grade</th>
            <th>Second grade</th>
            <th>Third degree</th>
            <th>Min age</th>
            <th>Max age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedUnemploymentRate.province}}</td>
            <td>{{updatedUnemploymentRate.year}}</td>
            <!--<td><input class="form-control" type=number ng-model="updatedUnemploymentRate.year" /></td>-->
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['illiterate']" /></td>
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['first-grade']" /></td>
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['second-grade']" /></td>
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['third-degree']" /></td>
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['min-age']" /></td>
            <td><input class="form-control" type=number ng-model="updatedUnemploymentRate['max-age']" /></td>
            <td><button class="button btn-primary" ng-click="updateUnemploymentRate()">
                Update
            </button></td>
        </tr>
    </tbody>
</table>
Status:
<h8><i>{{status}}</i></h8>
